/* ----------------------------------------------------------------------
 * -- SASS Setup
 * ---------------------------------------------------------------------- */

$heading-font: "Century Schoolbook", Georgia, serif;
$body-font:    Ubuntu, "Segoe UI", "Bitstream Vera Sans", sans-serif;

$font-color: #444;
$heading-color: #555;

$line-color: #ddd;
$line-thickness: 4px;

$content-width: 540px;
$sidebar-width: 220px;

@mixin overline {
	border-top: $line-thickness solid $line-color;
}

@mixin underline {
	border-bottom: $line-thickness solid $line-color;
}

@mixin heading {
	color: $heading-color;
	margin: 0 0 20px;
	padding: 0 0 5px 0;
	font-family: $heading-font;
	font-weight: normal;
}


/* ----------------------------------------------------------------------
 * -- HTML Elements
 * ---------------------------------------------------------------------- */

p, li, dt, dd, td, th {
	color: $font-color;
	font-size: 12pt;
	font-weight: normal;
	font-family: $body-font;
	line-height: 1.4em;
}

h2 {
	@include heading;
	font-size: 1.2em;
}

h3 {
	@include heading;
	color: #00661A;
	font-size: 1.1em;
	margin-bottom: 10px;
	padding: 0 0 5px 0;
}

h4 { 
	@include heading;
	font-size: 12pt;
	margin-bottom: 4px;
	font-weight: bold;
}

a { color: #3366FF; }
a:hover { color: #00661A; }

td, th { padding: 4px; font-size: 0.9em; }

th[scope="row"] {
	text-align: right;
	background: #eee;
}

acronym {
	border-bottom: 1px dotted #444;
}

p.to_content { display: none; }
p.to_top	 { display: block; text-align: right; width: $content-width; padding-left: 20px; font-size: 0.9em; }


/* ----------------------------------------------------------------------
 * -- Page Layout
 * ---------------------------------------------------------------------- */

#content-container {
	width: $content-width;
	float: left;
	margin-left: 20px;
	padding: 20px 0;
}


#left-sidebar {
	width: $sidebar-width;
	float: left;
	padding-top: 20px;
	font-size: 0.9em;
} 

#footer-container {
	
	@include overline;

	clear: both;
	width: 20 + $content-width + $sidebar-width;
}


/* ----------------------------------------------------------------------
 * -- Content Styles
 * ---------------------------------------------------------------------- */

#content-container p {
	margin-bottom: 20px;
	padding: 0;
}

#content-container img {
	max-width: $content-width;
}

#content-container h1 {
	
	@include underline;
	@include heading;
	
	font-size: 16pt;
	line-height: 1.8em;
	width: 100%;
}

#content-container h2 {
	
	@include underline;
	@include heading;
	
	font-size: 1.4em;
	width: 100%;
}

p.date { margin: 0; font-size: 0.9em; color: #888; }
p.meta { padding: 8px !important; background: #eee; margin-bottom: 48px !important; }

p.more_posts {
	
	@include overline;

	margin-top: 8px;
	padding-top: 8px;
	
}

img.shadow {
	box-shadow: 2px 2px 2px #ddd;
}

#content-container dd { 
	margin-bottom: 16px;
}

#content-container > section {
	margin-bottom: 48px;
}

#content-container em {
	background: #F2FFCC;
}


/* ----------------------------------------------------------------------
 * -- Sidebar Styles
 * ---------------------------------------------------------------------- */

#left-sidebar h2 {
	
	@include underline;
	@include heading;
	
	font-size: 1.2em;
	width: 200px;

}

#left-sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#left-sidebar ul li {
	margin: 4px 0;
	padding: 4px;
}

#left-sidebar ul li.selected { 
	background: #ddd;
}

#left-sidebar section { 
	background: #eee;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}


/* Currently selected menu item */
.page-hagfish li.hagfish,  			
.page-phing_extra li.phing_extra, 
.page-sodaware_mod li.sodaware_mod, 
.page-pangolin li.pangolin, 
.page-blam li.blam, 
.page-pangolin li.reddit_sigs, 
.page-blitzunit li.blitzunit, 
.page-php_todolist li.php_todolist, 
.page-blitz_libs li.blitz_libs,
.page-monster_mash li.monster_mash,
.page-psycho_bean li.psycho_bean
{
	background: #ddd;
}



/* ----------------------------------------------------------------------
 * -- Footer Styles
 * ---------------------------------------------------------------------- */

#footer-container p {
	font-size: 0.8em;
}


/* ----------------------------------------------------------------------
 * -- Form Styles
 * ---------------------------------------------------------------------- */		
		
input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { /* Fixes Firefox input button padding issue */
	padding: 0 !important;
	border: 0 none !important;
}

input[type="submit"] {
	font-size: 1em;
}

.button {
	padding: 6px 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: solid 1px rgb(153, 153, 153);
	background: rgb(221, 221, 221);
	background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(221, 221, 221) 100%); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
	color: #333;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	line-height: 1;
	box-shadow: #eee 0px 0px 2px 1px;
	-moz-box-shadow: #eee 0px 0px 2px 1px;
	-webkit-box-shadow: #eee 0px 0px 2px 1px;
	font-size: 0.9em;
	font-family: $body-font;
}

.button:hover {
	background: #ccc;
	background: -moz-linear-gradient(top, rgb(221, 221, 221) 0%, rgb(187, 187, 187) 100%); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(221, 221, 221)), to(rgb(187, 187, 187)));

	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	text-decoration: none;
	color: #111;
}

.button.download > span {
	background: url('icons.png') center left no-repeat;
	padding-left: 22px;
}


/* ----------------------------------------------------------------------
 * -- Asides
 * ---------------------------------------------------------------------- */

article > aside {
	@include overline;
	@include underline;

	font-size: 0.9em;
	font-family: $heading-font;
	background: #EEE;
	position: relative;
	padding: 10px;

}

article > aside p {
	margin: 8px 0 !important;
	font-style: italic;
}


/* ----------------------------------------------------------------------
 * -- Repository information
 * ---------------------------------------------------------------------- */

article > section.summary dl { 
	font-size: 0.9em;
	overflow: hidden;
}

article > section.summary dt { 
	float: left;
	padding: 4px; 
	width: 120px;
	text-align: right;
	background: #eee;
	font-weight: bold;
	font-size: 0.9em;
	clear: both;
	margin-bottom: 2px !important;
}

article > section.summary dd { 
	margin: 0;
	padding: 4px;
	float: left;
	width: $content-width - 140px;
	font-size: 0.9em;
	margin-bottom: 2px !important;
}


/* ----------------------------------------------------------------------
 * -- Download links
 * ---------------------------------------------------------------------- */

article > section.downloads { 
	text-align: center;
	margin: 8px 0;
}


/* ----------------------------------------------------------------------
 * -- Responsive design
 * ---------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
	#left-sidebar { overflow: hidden; width: $content-width; padding-left: 20px; font-size: 0.9em;  }
	#left-sidebar h2 { width: $content-width; }
	#left-sidebar li { font-size: 0.9em; padding: 4px; float: left; width: 30%; vertical-align: top; }
	#left-sidebar section { width: $content-width; overflow: hidden;} 
	p.to_content { display: block; text-align: right; width: $content-width; padding-left: 20px; font-size: 0.9em; }
}